<!DOCTYPE html>
<html>
<head>
    <title>Code Information</title>
    <link rel="stylesheet" type="text/css" href={{ url_for ('static', filename='css/style.css') }}>
</head>
<body>
    <h1>Hi! {{ sub }}</h1>
    <h2>Codes</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Role</th>
            <th>Scope</th>
            <th>User</th>
            <th>Client</th>
            <th>Iat</th>
            <th>Exp</th>
        </tr>
        {% for code in codes %}
        <tr>
            <td>{{ code.id }}</td>
            <td>{{ code.code }}</td>
            <td>{{ code.role }}</td>
            <td>{{ code.scope }}</td>
            <td>{{ code.user }}</td>
            <td>{{ code.client }}</td>
            <td>{{ code.iat }}</td>
            <td>{{ code.exp }}</td>
        </tr>
        {% endfor %}
    </table>
    <p></p>
    <h2>Revoke Code</h2>
    <form action="/code/revoke" method="post">
        <input type="text" id="id" name="id"><br><br>
        <button type="submit">Delete Access Log</button>
    </form>
    <p></p>
    <p></p>
    <a href="/role">Go to role</a>
    <p></p>
    <a href="/code/create">Go to generate code</a>
    <p></p>
</body>
</html>
